<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <script th:src="@{'/js/dashboard.js'}"></script>
</head>
<body>
<div th:fragment="dashboard">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom" style="background-color: #ffffff;">
        <div class="container">
            <a class="navbar-brand" th:href="@{'/ui/dash'}">
                <img th:src="@{'/images/logo.png'}" alt="My Bank Logo" style="width: 60px; height: 60px;"/>
                <span style="color: #182052; font-family: 'Montserrat', sans-serif;">MyBank</span>
            </a>

            <div class="navbar-text ml-auto d-flex align-items-center">
                <span th:id="Username" class="welcome-text" style="color: #182052; font-size: 24px;">Welcome, John Doe</span>
                <i class="bi bi-person-circle"></i>

                <form id="logoutForm" action="/ui/logout" method="post">
                    <button id="logoutButton" class="btn btn-logout ml-2" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 20px; font-family: 'Poppins', sans-serif;" href="#" id="accountsDropdownToggle">
                            <i class="bi bi-house-door-fill" style="font-size: 20px;"></i> Home
                        </a>
                    </li>br

                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 20px; font-family: 'Poppins', sans-serif;" href="#" id="insuranceDropdown">
                            <i class="bi bi-info-circle-fill" style="font-size: 20px;"></i> About Us
                        </a>
                    </li>br

                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 20px; font-family: 'Poppins', sans-serif;" href="#" id="profileUpdateDropdown">
                            <i class="bi bi-person-check-fill" style="font-size: 20px;"></i> Profile Update
                        </a>
                    </li>br

                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 20px; font-family: 'Poppins', sans-serif;" href="#" id="applyMutualFundDropdown">
                            <i class="bi bi-currency-exchange" style="font-size: 20px;"></i> Holdings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--<div th:replace="footer :: footer">-->
</body>
</html>
