<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" th:href="@{/styles/styles.css}">
  <script th:src="@{'/js/dashboard.js'}"></script>
  <style>
    body {
      background-color: white;
      color: white;
    }
    .btn-primary {
      background-color: #182052;
      border-color: #182052;
      border-radius: 10px;
    }
    .btn-primary:hover {
      background-color: #f5854d;
      border-color: #f5854d;
    }
    .form-control {
      background-color: #ffffff;
      border-color: #182052;
      border-width: 1.5px; /* Adjust the value as needed */

    }
    .form-control::placeholder {
      color: grey;
      opacity: 0.5;
    }
    .form-group label {
      color: #182052;
      font-weight: bold;
    }
    .form-group input:hover{
      border-color: darkorange;
    }
    .form-group textarea:hover{
      border-color: darkorange;
    }
    .card {
      border: none;
    }
    .alert.fade {
      transition: opacity 1.5s linear;
    }
  </style>
</head>
<body>
<div th:replace="dashboard :: dashboard"></div>
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-auto">
          <a href="javascript:void(0)" onclick="window.history.back()" class="text-light mt-3 "><i class="bi bi-arrow-left-circle-fill btn btn-primary mt-3" style=" font-size: 24px;border-radius: 50px;padding: 3px"></i></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex align-items-center mb-2">
    <i class="bi bi-person-circle" style="color: #182052; font-size: 55px;"></i>
    <h2 class="ml-3" style="color: #182052; font-size: 44px; font-weight: 700; font-family: 'Poppins', sans-serif;">My Profile</h2>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col col-9 ">
      <div class="card-body">
        <div id="email-alert" class="alert alert-danger d-none" role="alert">
        </div>
        <div id="phone-alert" class="alert alert-danger d-none" role="alert">
          <!-- Phone alert message will be dynamically set here -->
        </div>
        <form name = "application" th:action="@{'/account/update'}" method="post">
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="firstName">FIRST NAME:</label>
              <input type="text" class="form-control" th:value="${customer.firstName}" th:name="firstName" id="firstName" placeholder="Enter first name" required>
              <span id="firstNameErr" class="error"></span>
            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-5">
              <label for="username">USER NAME:</label>
              <div class="input-group">
                <input type="text" class="form-control"  th:value="${customer.username}" th:name="username" id="username" placeholder="Enter username" required oninput="checkUsername()">
                <span id="username-status-icon" class="input-group-text d-none"></span>
              </div>
              <span id="username-status-message" class="d-none"></span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="middleName">MIDDLE NAME:</label>
              <input type="text" class="form-control" th:value="${customer.middleName}" th:name="middleName" id="middleName" placeholder="Enter middle name" required>
              <span id="middleNameErr" class="error"></span>

            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-5">
              <label for="password">PASSWORD:</label>
              <input type="password" name="password" th:value="${customer.password}" th:name="password" class="form-control" id="password" placeholder="Enter password" required>
              <span id="passwordErr" class="error"></span>

            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="lastName">LAST NAME:</label>
              <input type="text" class="form-control" th:value="${customer.lastName}" th:name="lastName" id="lastName" placeholder="Enter last name" required>
              <span id="KeyBenefitsErr" class="error"></span>

            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-5">
              <label for="email">EMAIL:</label>
              <div class="input-group">
                <input type="email" th:name="email" th:value="${customer.email}" class="form-control" id="email" placeholder="Enter email" required oninput="checkEmail()">
                <span id="email-status-icon" class="input-group-text d-none"></span>
              </div>
              <span id="email-status-message" class="d-none"></span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <label for="birthDate">BIRTH DATE:</label>
              <input type="date" class="form-control" th:value="${customer.birthDate}" th:name="birthDate" id="birthDate" placeholder="DD/MM/YYYY" required>
              <span id="birthDateErr" class="error"></span>

            </div>
            <div class="form-group col-md-1"></div>
            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-5">
              <label for="email">PHONE NUMBER:</label>
              <div class="input-group">
                <input type="number" maxlength="10" minlength="10" th:value="${customer.phoneNumber}" th:name="phoneNumber" class="form-control" id="phonenumber" placeholder="Enter phone number" required oninput="checkPhoneNumber()">
                <span id="phone-status-icon" class="input-group-text d-none"></span>
              </div>
              <span id="phone-status-message" class="d-none"></span>
            </div>
          </div><div class="form-row">
          <div class="form-group col-md-5">
            <label for="address">ADDRESS:</label>
            <textarea class="form-control" id="address" th:text="${customer.address}" th:name="address" rows="3" placeholder="Enter address." required></textarea>
            <span id="addressErr" class="error"></span>

          </div>
          <div class="form-group col-md-1"></div>
          <div class="form-group col-md-1"></div>
            <div class="form-group col-md-5">
              <label for="aadhaarNumber">AADHAAR NUMBER:</label>
              <input type="number" class="form-control" th:value="${customer.aadhaarNumber}" th:name="aadhaarNumber" id="aadhaarNumber" placeholder="Enter aadhaar number." required>
              <span id="aadhaarNumberErr" class="error"></span>
            </div>
          </div>
          <br>
          <button id="add" type="submit" class="btn btn-primary">Update Profile</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  var passwordField = document.getElementById("password");
  var confirmPasswordField = document.getElementById("confirmPassword");
  var errorMessage = document.getElementById("error-message");
  var passwordStrengthMessage = document.getElementById("password-strength-message");
  var isValidUsername, isValidEmail, isValidPhoneNumber, isValidPassword;

  // Function to check if username is available
  function checkUsername() {
    const username = document.getElementById('username').value;
    const statusSpan = document.getElementById('username-status-message');
    const statusIcon = document.getElementById('username-status-icon');

    if (username) {
      fetch(`/ui/check-username?username=${username}`)
              .then(response => response.json())
              .then(data => {
                if (data.exists) {
                  statusSpan.textContent = 'Username already taken';
                  statusSpan.className = 'text-danger'; // Add Bootstrap danger class
                  statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon
                  isValidUsername = false;
                } else {
                  statusSpan.textContent = 'Username available';
                  statusSpan.className = 'text-success'; // Add Bootstrap success class
                  statusIcon.innerHTML = '<i class="bi bi-check-circle-fill text-success"></i>'; // Green check icon
                  isValidUsername = true;
                }
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none'); // Show the icon
              })
              .catch(error => {
                console.error('Error:', error);
                statusSpan.textContent = 'An error occurred';
                statusSpan.className = 'text-danger'; // Add Bootstrap danger class
                statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none');
                isValidUsername = false;
              });
    } else {
      statusSpan.classList.add('d-none'); // Hide the message if username is empty
      statusIcon.classList.add('d-none');
    }
  }

  // Function to check if email is already in use
  function checkEmail() {
    const email = document.getElementById('email').value;
    const statusSpan = document.getElementById('email-status-message');
    const statusIcon = document.getElementById('email-status-icon');
    const emailAlert = document.getElementById('email-alert');

    if (email) {
      fetch(`/ui/check-email?email=${email}`)
              .then(response => response.json())
              .then(data => {
                if (data.exists) {
                  statusSpan.textContent = ''; // Clear the status span message
                  statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon

                  // Update the Bootstrap alert with error message
                  emailAlert.textContent = 'This email address is already registered. Please log in or use a different email address.';
                  emailAlert.classList.remove('d-none'); // Show the alert
                  isValidEmail = false;
                } else {
                  statusIcon.innerHTML = '<i class="bi bi-check-circle-fill text-success"></i>'; // Green check icon
                  emailAlert.classList.add('d-none'); // Hide the alert if email is available
                  isValidEmail = true;
                }
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none');
              })
              .catch(error => {
                console.error('Error:', error);
                statusSpan.textContent = 'An error occurred';
                statusSpan.className = 'text-danger'; // Add Bootstrap danger class
                statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none'); // Show the icon
                isValidEmail = false;
              });
    } else {
      statusSpan.classList.add('d-none'); // Hide the message if email is empty
      statusIcon.classList.add('d-none'); // Hide the icon
      emailAlert.classList.add('d-none');
    }
  }

  // Function to check if phone number is already in use
  function checkPhoneNumber() {
    const phoneNumber = document.getElementById('phonenumber').value;
    const statusSpan = document.getElementById('phone-status-message');
    const statusIcon = document.getElementById('phone-status-icon');
    const phoneAlert = document.getElementById('phone-alert');

    if (phoneNumber) {
      fetch(`/ui/check-phonenumber?phoneNumber=${phoneNumber}`)
              .then(response => response.json())
              .then(data => {
                if (data.exists) {
                  statusSpan.textContent = ''; // Clear the status span message
                  statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon

                  // Update the Bootstrap alert with error message
                  phoneAlert.textContent = 'This phone number is already registered. Please use a different number or log in.';
                  phoneAlert.classList.remove('d-none'); // Show the alert
                  isValidPhoneNumber = false;
                } else {
                  statusIcon.innerHTML = '<i class="bi bi-check-circle-fill text-success"></i>'; // Green check icon
                  phoneAlert.classList.add('d-none'); // Hide the alert if phone number is available
                  isValidPhoneNumber = true;
                }
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none');
              })
              .catch(error => {
                console.error('Error:', error);
                statusSpan.textContent = 'An error occurred';
                statusSpan.className = 'text-danger'; // Add Bootstrap danger class
                statusIcon.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i>'; // Red cross icon
                statusSpan.classList.remove('d-none'); // Show the message
                statusIcon.classList.remove('d-none'); // Show the icon
                isValidPhoneNumber = false;
              });
    } else {
      statusSpan.classList.add('d-none'); // Hide the message if phone number is empty
      statusIcon.classList.add('d-none'); // Hide the icon
      phoneAlert.classList.add('d-none');
    }
  }
  async function validateForm() {
    await checkUsername(); // Wait for username check
    await checkEmail();    // Wait for email check
    await checkPhoneNumber(); // Wait for phone number check

    checkPasswordMatch();
    checkPasswordStrength();

    // Combine the validation results
    return isValidUsername && isValidEmail && isValidPhoneNumber;
     // Allow form submission if all checks pass
  }
</script>
</body>
</html>